@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
html * {
  font: 300 15px / 23px 'Lato';
}

a:hover {
  color: #084884;
}

h1, h2, h3, h4, h5, h1.firstPrompt {
  font-family: "Lato", sans-serif !important;
}

h1 {
  font-size: 23px;
  font-weight: 400;
  margin: 20px 0;
}

.mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
  text-align: center;
  padding: 0;
  height: auto;
}

header.mdl-layout__header {
  background: #fff;
  min-height: auto;
}

header #logo {
  position: static;
  margin: 10px auto 0;
  padding: 10px;
  width: auto;
}
header #logo img {
  height: auto;
  max-height: 60px;
}

ul.form-list li {
  border-top: 1px solid #dee2e6;
  background: transparent;
}

ul.form-list li:nth-child(even) {
  background: transparent;
}

ul.form-list textarea,
ul.form-list input[type="text"] {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

ul.form-list .field-title {
  font-weight: 400;
}

ul.form-list select {
  background: white;
  height: 30px;
  border-color: #ced4da;
}

ul.form-list input[type="text"]:focus,
ul.form-list input[type="number"]:focus,
ul.form-list input[type="password"]:focus,
ul.form-list textarea:focus {
  background: transparent;
  outline: none !important;
  border: 1px solid #cdc9c9 !important;
  box-shadow: 0 0 10px #084884 !important;
}

#main-menu > li li a, a {
  color: #0d6fcc;
}

#main-menu > li a {
  color: #4b4b4b;
}

.mdl-button {
  border-radius: 0;
  font-weight: 300;
}

.mdl-button--raised {
  box-shadow: none;
}

.mdl-button.mdl-button--colored {
  border: 1px solid #084884;
  background: white;
  color: #084884;
}
.mdl-button.mdl-button--colored:hover {
  border-color: white;
  background: #084884;
  color: white;
}

.mdl-button--raised.mdl-button--colored:focus:not(:active) {
  border-color: white;
  background: #084884;
  color: white;
  box-shadow: none;
}

.mdl-button--colored[disabled][disabled]:hover,
.mdl-button--colored.mdl-button--disabled.mdl-button--disabled:hover {
  color: rgba(0,0,0,.26) ;
  background-color: rgba(0,0,0,.12);
  border-color: #084884;
}

.co-info-topbox {
  color: white;
  background: #084884;
}

#pagination {
  background: transparent;
  color: #333;
}
#pagination a {
  color: #0d6fcc;
}
#pagination a:hover {
  color: #084884;
}

table th {
  background: #084884;
}
table th a {
  color: #eee;
}
table th a:hover {
  color: #fff;
}

#content .co-info-topbox .material-icons {
  color: white;
}

.top-search input[type=text],
.top-search select,
.side-search input[type=text],
.side-search select {
  height: 40px;
  padding: 4px 10px;
}

.top-search .submit-button,
.top-search .clear-button,
.side-search .submit-button,
.side-search .clear-button {
  height: 40px;
  line-height: 40px;
}

.fieldGroupName {
  font-weight: 300;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: white;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover, .ui-button:focus {
  background: white;
}

#user-links-id, .co-menu-button a {
  background: #084884;
}

.co-menu-button a:hover {
  background: #084884;
  color: #fff;
}

#logout-in-menu a:hover {
  color: white;
  opacity: 0.9;
}

.mdl-layout__drawer {
  border: 1px solid #e0e0e0;
}

#banner {
  box-shadow: none;
}

.mdl-layout__header-row {
  display: flex;
  flex-direction: column;
}

#collaborationTitle {
  order: 2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: none !important;
  color: #5b5b5b;
  padding: 0;
  margin: 10px 0;
  line-height: 23px;
  min-height: 23px;
}
#collaborationTitle a {
  color: #5b5b5b;
  font-size: inherit;
}

#logo {
  order: 1;
}

#top-menu {
  background: white;
  position: absolute;
}

@media (max-width: 520px) {
  #top-menu {
    position: static;
  }
}
#user-menu a.topMenu {
  color: #222;
}

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 1000;
}
.corner-ribbon.red {
  background: #e43;
}

#cookies {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: none;
  text-align: left;
  border: 1px solid #90929D;
  background: #eee;
  padding: 20px;
}
#cookies * {
  font: 400 14px/20px 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
#cookies p {
  margin: 0;
  padding: 0;
  position: relative;
}
#cookies .cookies-ok {
  background: #0a559c;
  border: 1px solid transparent;
  color: white;
  display: block;
  float: right;
  font-size: 11px;
  line-height: 15px;
  margin: 0 0 0 20px;
  padding: 10px;
  text-transform: uppercase;
}
#cookies .cookies-ok:hover {
  text-decoration: none;
  opacity: 0.9;
}

/* FIX layout issues */
#comanage-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}

#top-menu,
#banner,
footer {
  width: 100%;
}

#navigation-drawer {
  position: static;
  width: 240px;
  transform: none !important;
  z-index: 1;
}

@media (max-width: 520px) {
  #navigation-drawer {
    width: 100%;
  }
}
#main {
  margin-left: 20px !important;
}

footer {
  position: relative;
}

.mdl-layout__container {
  position: static;
  width: auto;
  height: auto;
}

#customFooter {
  align-self: flex-end;
}

.ssp-footer {
  text-align: center;
  color: #333;
  background: white;
}
.ssp-footer * {
  font-weight: 300;
  font-size: 14px;
}
.ssp-footer a {
  color: #084884;
}

#main {
  width: 1%;
}
